*{
    margin: 0;
    padding: 0;
    
}
#d1{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
}

#d2{
    height: 80px;
    width: 20%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
#d3{
    height: 80px;
    width:900px;
    /* padding-left: 50px; */
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#d4{
    height: 80px;
    width: 35%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#btn{
    border-radius: 10px;
}

#btn1{
    border-radius: 10px;
    background-color: lightskyblue;
    width: 60px;
    height: 25px;
}

#pd{
    height: 35px;
    width: 400px;
    border-radius:10px;
    cursor: cell;
}



#vid1{
    position: fixed;
    padding-top: 80px;
  
}

#img1{
    padding-left: 1150px;
    padding-top: 80px;
}
#img2{
    padding-left: 1150px;
}
