*{
    margin: 0;
    padding: 0;
    
}

/*Home.jsx start*/
#homed1{
    height: 30px;
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Home.jsx end*/




/*Prindetails component */
/* 
#div1{
    height: 30px;
} */




/*Nav bar design*/
#nav1{
    height: 40px;
    /* background-color: red; */
}
#nav2{
    height: 30px;
    background-color: #da114d;
    display: flex;
    justify-content: space-between;
    align-items: center;


    
}
#dd1{
    height: 40px;
    width: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dd2{
    height: 30px;
    width: 40%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#dd3{
    height: 60px;
    width: 100%;
    background-color: #f0064c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#input{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;

}
#btn{
    height: 35px;
    width: 65px;
}
#img{
    width: 20%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#dd4{
    width: 45%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#dd5{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
#images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: whitesmoke;
}
#Box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 200px;
    width: 100%;
    
    
}
.box2{
    height: 250px;
   border: 4px solid white;
   width: 25%;
   background-color: beige;
   
}

#foot{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: whitesmoke;
    
}
.foot1{
    height: 200px;
    width: 30%;
    border: 2px solid black;
    background-color: honeydew;
    
}

#vidbtn{
    height: 25px;
    width: 50px;
}
